In [84]:
import pandas as pd

In [85]:
costs = pd.read_csv("/Users/alexanderkell/Documents/SGI/Projects/11-starter-kits/data/raw/starter-kits/Kenya/Table6_KEN.csv")
costs

         Crude Oil Imports  Year  Value          Parameter
0     Crude Oil Extraction    13  11.95  Fuel Price ($/GJ)
1          Biomass Imports    13   1.76  Fuel Price ($/GJ)
2       Biomass Extraction    13   1.60  Fuel Price ($/GJ)
3             Coal Imports    13   4.90  Fuel Price ($/GJ)
4          Coal Extraction    13   3.30  Fuel Price ($/GJ)
..                     ...   ...    ...                ...
58         Coal Extraction    22   3.80  Fuel Price ($/GJ)
59  Light Fuel Oil Imports    22  26.79  Fuel Price ($/GJ)
60  Heavy Fuel Oil Imports    22  16.11  Fuel Price ($/GJ)
61     Natural Gas Imports    22  11.00  Fuel Price ($/GJ)
62  Natural Gas Extraction    22   9.90  Fuel Price ($/GJ)

[63 rows x 4 columns]

In [86]:
costs = costs.rename(columns = {"Crude Oil Imports": "Variable"})
costs

                  Variable  Year  Value          Parameter
0     Crude Oil Extraction    13  11.95  Fuel Price ($/GJ)
1          Biomass Imports    13   1.76  Fuel Price ($/GJ)
2       Biomass Extraction    13   1.60  Fuel Price ($/GJ)
3             Coal Imports    13   4.90  Fuel Price ($/GJ)
4          Coal Extraction    13   3.30  Fuel Price ($/GJ)
..                     ...   ...    ...                ...
58         Coal Extraction    22   3.80  Fuel Price ($/GJ)
59  Light Fuel Oil Imports    22  26.79  Fuel Price ($/GJ)
60  Heavy Fuel Oil Imports    22  16.11  Fuel Price ($/GJ)
61     Natural Gas Imports    22  11.00  Fuel Price ($/GJ)
62  Natural Gas Extraction    22   9.90  Fuel Price ($/GJ)

[63 rows x 4 columns]

In [87]:
costs['Year'] = costs['Year'] + 0
costs

                  Variable  Year  Value          Parameter
0     Crude Oil Extraction    13  11.95  Fuel Price ($/GJ)
1          Biomass Imports    13   1.76  Fuel Price ($/GJ)
2       Biomass Extraction    13   1.60  Fuel Price ($/GJ)
3             Coal Imports    13   4.90  Fuel Price ($/GJ)
4          Coal Extraction    13   3.30  Fuel Price ($/GJ)
..                     ...   ...    ...                ...
58         Coal Extraction    22   3.80  Fuel Price ($/GJ)
59  Light Fuel Oil Imports    22  26.79  Fuel Price ($/GJ)
60  Heavy Fuel Oil Imports    22  16.11  Fuel Price ($/GJ)
61     Natural Gas Imports    22  11.00  Fuel Price ($/GJ)
62  Natural Gas Extraction    22   9.90  Fuel Price ($/GJ)

[63 rows x 4 columns]

In [88]:
import_costs = costs[~costs['Variable'].str.contains("Extraction")]
import_costs

                  Variable  Year  Value          Parameter
1          Biomass Imports    13   1.76  Fuel Price ($/GJ)
3             Coal Imports    13   4.90  Fuel Price ($/GJ)
5   Light Fuel Oil Imports    13  15.89  Fuel Price ($/GJ)
6   Heavy Fuel Oil Imports    13   9.56  Fuel Price ($/GJ)
7      Natural Gas Imports    13   8.60  Fuel Price ($/GJ)
10         Biomass Imports    12   1.76  Fuel Price ($/GJ)
12            Coal Imports    12   5.10  Fuel Price ($/GJ)
14  Light Fuel Oil Imports    12  14.75  Fuel Price ($/GJ)
15  Heavy Fuel Oil Imports    12   8.87  Fuel Price ($/GJ)
16     Natural Gas Imports    12   8.60  Fuel Price ($/GJ)
19         Biomass Imports    12   1.76  Fuel Price ($/GJ)
21            Coal Imports    12   5.30  Fuel Price ($/GJ)
23  Light Fuel Oil Imports    12  15.43  Fuel Price ($/GJ)
24  Heavy Fuel Oil Imports    12   9.28  Fuel Price ($/GJ)
25     Natural Gas Imports    12   9.45  Fuel Price ($/GJ)
28         Biomass Imports    14   1.76  Fuel Price ($/GJ)
30            Coal Imports    14   5.50  Fuel Price ($/GJ)
32  Light Fuel Oil Imports    14  17.25  Fuel Price ($/GJ)
33  Heavy Fuel Oil Imports    14  10.38  Fuel Price ($/GJ)
34     Natural Gas Imports    14  10.30  Fuel Price ($/GJ)
37         Biomass Imports    16   1.76  Fuel Price ($/GJ)
39            Coal Imports    16   5.90  Fuel Price ($/GJ)
41  Light Fuel Oil Imports    16  20.43  Fuel Price ($/GJ)
42  Heavy Fuel Oil Imports    16  12.29  Fuel Price ($/GJ)
43     Natural Gas Imports    16  11.00  Fuel Price ($/GJ)
46         Biomass Imports    19   1.76  Fuel Price ($/GJ)
48            Coal Imports    19   5.90  Fuel Price ($/GJ)
50  Light Fuel Oil Imports    19  23.61  Fuel Price ($/GJ)
51  Heavy Fuel Oil Imports    19  14.20  Fuel Price ($/GJ)
52     Natural Gas Imports    19  11.00  Fuel Price ($/GJ)
55         Biomass Imports    22   1.76  Fuel Price ($/GJ)
57            Coal Imports    22   5.90  Fuel Price ($/GJ)
59  Light Fuel Oil Imports    22  26.79  Fuel Price ($/GJ)
60  Heavy Fuel Oil Imports    22  16.11  Fuel Price ($/GJ)
61     Natural Gas Imports    22  11.00  Fuel Price ($/GJ)

In [89]:
import_costs['Variable'] = import_costs['Variable'].str.replace("Imports", "")
import_costs['Variable'] = import_costs['Variable'].str.replace("Natural", "")
import_costs['Variable'] = import_costs['Variable'].str.lower()
import_costs['Variable'] = import_costs['Variable'].str.replace("light fuel oil", "LFO")
import_costs['Variable'] = import_costs['Variable'].str.replace("heavy fuel oil", "HFO")
import_costs

<ipython-input-89-d79a7a47d902>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import_costs['Variable'] = import_costs['Variable'].str.replace("Imports", "")
<ipython-input-89-d79a7a47d902>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import_costs['Variable'] = import_costs['Variable'].str.replace("Natural", "")
<ipython-input-89-d79a7a47d902>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import_costs['Variable'] = import_costs['Variable'].str.lower()
<ipython-input-89-d79a7a47d902>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import_costs['Variable'] = import_costs['Variable'].str.replace("light fuel oil", "LFO")
<ipython-input-89-d79a7a47d902>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import_costs['Variable'] = import_costs['Variable'].str.replace("heavy fuel oil", "HFO")

    Variable  Year  Value          Parameter
1   biomass     13   1.76  Fuel Price ($/GJ)
3      coal     13   4.90  Fuel Price ($/GJ)
5       LFO     13  15.89  Fuel Price ($/GJ)
6       HFO     13   9.56  Fuel Price ($/GJ)
7       gas     13   8.60  Fuel Price ($/GJ)
10  biomass     12   1.76  Fuel Price ($/GJ)
12     coal     12   5.10  Fuel Price ($/GJ)
14      LFO     12  14.75  Fuel Price ($/GJ)
15      HFO     12   8.87  Fuel Price ($/GJ)
16      gas     12   8.60  Fuel Price ($/GJ)
19  biomass     12   1.76  Fuel Price ($/GJ)
21     coal     12   5.30  Fuel Price ($/GJ)
23      LFO     12  15.43  Fuel Price ($/GJ)
24      HFO     12   9.28  Fuel Price ($/GJ)
25      gas     12   9.45  Fuel Price ($/GJ)
28  biomass     14   1.76  Fuel Price ($/GJ)
30     coal     14   5.50  Fuel Price ($/GJ)
32      LFO     14  17.25  Fuel Price ($/GJ)
33      HFO     14  10.38  Fuel Price ($/GJ)
34      gas     14  10.30  Fuel Price ($/GJ)
37  biomass     16   1.76  Fuel Price ($/GJ)
39     coal     16   5.90  Fuel Price ($/GJ)
41      LFO     16  20.43  Fuel Price ($/GJ)
42      HFO     16  12.29  Fuel Price ($/GJ)
43      gas     16  11.00  Fuel Price ($/GJ)
46  biomass     19   1.76  Fuel Price ($/GJ)
48     coal     19   5.90  Fuel Price ($/GJ)
50      LFO     19  23.61  Fuel Price ($/GJ)
51      HFO     19  14.20  Fuel Price ($/GJ)
52      gas     19  11.00  Fuel Price ($/GJ)
55  biomass     22   1.76  Fuel Price ($/GJ)
57     coal     22   5.90  Fuel Price ($/GJ)
59      LFO     22  26.79  Fuel Price ($/GJ)
60      HFO     22  16.11  Fuel Price ($/GJ)
61      gas     22  11.00  Fuel Price ($/GJ)

In [90]:
projections = import_costs.pivot_table(index="Year", columns="Variable", values="Value")
projections

Variable    gas     HFO    LFO   biomass   coal
Year
12         9.025   9.075  15.09      1.76    5.2
13         8.600   9.560  15.89      1.76    4.9
14        10.300  10.380  17.25      1.76    5.5
16        11.000  12.290  20.43      1.76    5.9
19        11.000  14.200  23.61      1.76    5.9
22        11.000  16.110  26.79      1.76    5.9

In [91]:
projections['RegionName'] = "Kenya"
projections['Attribute'] = "CommodityPrice"
projections

Variable    gas     HFO    LFO   biomass   coal  RegionName       Attribute
Year
12         9.025   9.075  15.09      1.76    5.2      Kenya  CommodityPrice
13         8.600   9.560  15.89      1.76    4.9      Kenya  CommodityPrice
14        10.300  10.380  17.25      1.76    5.5      Kenya  CommodityPrice
16        11.000  12.290  20.43      1.76    5.9      Kenya  CommodityPrice
19        11.000  14.200  23.61      1.76    5.9      Kenya  CommodityPrice
22        11.000  16.110  26.79      1.76    5.9      Kenya  CommodityPrice

In [95]:
projections = projections.reset_index()
projections = projections.rename(columns={"Year": "Time"})
projections

Variable,level_0,index,Time,gas,HFO,LFO,biomass,coal,RegionName,Attribute
0,0,0,12,9.025,9.075,15.09,1.76,5.2,Kenya,CommodityPrice
1,1,1,13,8.600,9.560,15.89,1.76,4.9,Kenya,CommodityPrice
2,2,2,14,10.300,10.380,17.25,1.76,5.5,Kenya,CommodityPrice
3,3,3,16,11.000,12.290,20.43,1.76,5.9,Kenya,CommodityPrice
4,4,4,19,11.000,14.200,23.61,1.76,5.9,Kenya,CommodityPrice
5,5,5,22,11.000,16.110,26.79,1.76,5.9,Kenya,CommodityPrice

In [99]:
muse_projections = pd.read_csv("/Users/alexanderkell/Documents/SGI/Projects/11-starter-kits/data/external/muse_data/default/input/Projections.csv")
muse_projections.head()

,RegionName,Attribute,Time,electricity,gas,heat,CO2f,wind
0,Unit,-,Year,MUS$2010/PJ,MUS$2010/PJ,MUS$2010/PJ,MUS$2010/kt,MUS$2010/kt
1,R1,CommodityPrice,2010,14.81481472,6.6759,100,0,0
2,R1,CommodityPrice,2015,17.89814806,6.914325,100,0.052913851,0
3,R1,CommodityPrice,2020,19.5,7.15275,100,0.08314119,0
4,R1,CommodityPrice,2025,21.93518528,8.10645,100,0.120069795,0

In [100]:
col_order = ["RegionName", "Attribute", "Time", "gas", "HFO", "LFO", "biomass", "coal"]

  RegionName       Attribute  Time  electricity  gas  heat  CO2f  wind
0      Kenya  CommodityPrice    12          NaN  NaN   NaN   NaN   NaN
1      Kenya  CommodityPrice    13          NaN  NaN   NaN   NaN   NaN
2      Kenya  CommodityPrice    14          NaN  NaN   NaN   NaN   NaN
3      Kenya  CommodityPrice    16          NaN  NaN   NaN   NaN   NaN
4      Kenya  CommodityPrice    19          NaN  NaN   NaN   NaN   NaN
5      Kenya  CommodityPrice    22          NaN  NaN   NaN   NaN   NaN